Notebooks/mlruns/**/model/* filter=lfs diff=lfs merge=lfs -text
Trained_models/Resnet50.pth filter=lfs diff=lfs merge=lfs -text
Trained_models/Resnet50_checkpoint.pt filter=lfs diff=lfs merge=lfs -text
