# Environment variables
.env

# Bytecode files
__pycache__/
*.pyc
*.py[cod]


*.pt
*.pth

# MLflow tracking
mlruns/
artifacts/
Trained_models/
Notebooks/mlruns/

# Ignore data files but allow DVC tracking files
Data/**
!Data/*.dvc
!Data/*/*.dvc
!Data/*/*/*.dvc

/test.txt
